@model EventSignIn.Models.SummaryModel

@{
    ViewBag.Title = "Dashboard";
}

<style type="text/css">
    .temp div {
        border: 1px solid #000;
        padding: 3px;
        margin-bottom: 5px;
    }

        .temp div > div {
            cursor: pointer;
        }

            .temp div > div:hover {
                background: #EEEEEE;
            }

    .temp h4, .temp p {
        margin: 0;
    }
</style>

<div class="temp">
    <div style="float: left">
        <h2>Events
            <button class="btn btn-primary"
                data-behavior="loadformmodal"
                data-formurl="@Url.Action("CreateForm", "Event")">
                Create
            </button>
        </h2>
        @foreach (var e in Model.Events)
        {
            <div>
                <a href="@Url.Action("View", "Event", new { id = e.Id })">
                    <h4>@e.Name</h4>
                </a>
                <p>@e.Date.ToShortDateString()</p>
                <p>@e.Location</p>
            </div>
        }
    </div>

    <div style="float: right">
        <h2>Users
            <button class="btn btn-primary"
                data-behavior="loadformmodal"
                data-formurl="@Url.Action("CreateForm", "User")">
                Create
            </button>
        </h2>
        @foreach (var user in Model.Users)
        {
            <div>
                <a href="@Url.Action("View", "User", new { id = user.Id, admin = true})">
                    <h4>@user.FirstName @user.LastName</h4>
                </a>
                <p>@user.EmailAddress</p>
                <p>@user.PhoneNumber</p>
                <p>Class of @user.GraduationYear</p>
            </div>
        }
    </div>
</div>
